{% extends 'base.html.twig' %}
{% block body %}
    <main role="main">
        <div class="container">
            <div class="card ">
                <span class="contact2-form-title">
						 Formulaire de contact
                </span>
                <div>
                    {{ form_start(form) }}

                    {% block flash_messages %}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" role="alert">
                                {{ message  }}
                            </div>
                        {% endfor %}
                    {% endblock %}

                    {% if not form.vars.valid %}
                        <div class="alert alert-danger" role="alert">
                            Le formulaire est incomplet
                        </div>
                    {% endif %}

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">Prenom</label>
                            {{ form_widget(form.firstname,{'attr': {'class': 'form-control','placeholder':'Entrez votre prénom'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Nom</label>
                            {{ form_widget(form.lastname,{'attr': {'class': 'form-control','placeholder':'Entrez votre nom'}}) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email1">Email </label>
                            {{ form_widget(form.email,{'attr': {'class': 'form-control', 'id':'exampleInputEmail1','placeholder':'Entrez votre addresse mail'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Téléphone</label>
                            {{ form_widget(form.phone,{'attr': {'class': 'form-control','placeholder':'Entrez votre numéro de téléphone'}}) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="object">objet </label>
                            {{ form_widget(form.object,{'attr': {'class': 'form-control', 'id':'exampleInputEmail1','placeholder':'Entrez l\'objet du mail exemple: Demande d\'information'}}) }}

                        </div>
                     </div>

                    <div class="form-row message ">
                        <div class="col-md-12">
                            <label for="message">Message </label>
                            <small id="emailHelp" class="form-text text-muted col-md-12">Votre méssage doit être composé d'au moins 10 mots</small>
                            {{ form_widget(form.message,{'attr': {'class': 'form-control','placeholder':'Entrez votre méssage','rows':'6'}}) }}
                        </div>
                    </div>

                    <div class="bout form-row">
                        <button class="btn" type="submit">Envoyer</button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </main>

{% endblock body %}